
<%if @data.present?%>
	    <% @data.try(:each) do |res|%>	
           <%value = res[1].to_a[0]%>
		  <div class="col-sm-2">
			<table>
				<tr>
				   <td  colspan="2" class="header"> Date: <%= value["dt"].strftime("%d/%m/%Y")%></td>
			    </tr>
				<tr>
				   <td  colspan="2" class="headings"> Temperature</td>
			    </tr>    
			  <tr>
			    <td class="headings">Min</td>
			    <td class="headings">Max</td>
			  </tr>
			  <tr>
			    <td><%= value["main"]["temp_min"]%></td>
			    <td><%= value["main"]["temp_max"]%></td>
			  </tr>
			  <tr>
			    <td>Pressure</td>
			    <td><%= value["main"]["pressure"]%></td>
			  </tr>
			  <tr>
			    <td>Humidity</td>
			    <td><%= value["main"]["humidity"]%></td>
			  </tr>  
			</table>
		  </div>
		<%end%>
		<%else%>
		<p><%= @message %></p>
		<%end%>